* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', serif ,;
    color: darkslategray;
    text-align: center;
    margin: auto;
    padding: 0;
    background: #b3d9ff;
}

.container {
    max-width: 1375px;
}

.text {
    font-size: 18px;
    margin: 30px 15px;
    color: #595959;
}

/****************************
NAVIGATION
****************************/

nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}


nav li {
    font-size: 20px;
    background: #e6f2ff;
    padding: 12px 0;
    margin: 4px 20px; 
    border-radius: 2px;
}

nav a {
    transition: all .5s;
    color: blueviolet;
    text-shadow: 2px -2px 4px #aaa;
}

nav a:hover { 
    color: blue; 
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: darkslategray;
}

/****************************
HEADER STYLES
****************************/

h1 {
    font-weight: bold;
    padding: 18px 0 14px;
    text-shadow: 2px -2px 4px #aaa;
}

header {
    background: #b3d9ff;
}

.profile-img {
    width: 65%;
}

/****************************
MAIN CONTEXT
****************************/

main {
    background: #e6f2ff;
}


h3 {
    text-align: center;
    padding: 60px 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
    padding-bottom: 40px;
}

.main-img {
    width: 94%;
    max-height: none;   
}

.skills {
    background-color: #cce6ff;
    padding: 40px 0;
    clear: left;
}

.skills-text {
    font-family: Tangerine;
    font-size: 30px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 0;
}

.contact {
    padding-top: 20px;
    margin-bottom: 40px;
}

hr {
    margin: 20px 30px;
}

.link-2 {
    display: none;
}

/****************************
FOOTER STYLES
****************************/

footer.flex {
    margin-bottom: 0;
    padding-bottom: 0;
}

h4 {
    margin: 0 0 20px;
    padding: 20px;
    text-shadow: 2px -2px 4px #aaa;
}

/****************************
MEDIA QUERIES
****************************/

@media screen and (min-width: 768px) {
    
    nav {       
        margin: 0 190px 40px;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    nav li {
        font-size: 20px;
        background: none;
        padding: 0;
        margin: 0;  
    }

    h1 {
        padding: 30px 0;
    }
    
    h4 {
        padding: 0 20px 0 0;
        margin-bottom: auto;
    }

    .profile-img {
        max-width: 250px;
        float: right;
        margin: 0 15px 0 30px;
}
    
    .skills {
        height: 350px;
        padding: 40px 15px 0;
    }
    
    
    header {
        padding: 0 15px 40px;
    }
    
    header .text {
        font-size: 24px;
        text-align: left;
        margin-top: 0;
    }
    
    .card {
        max-width: 345px;
        height: auto;
    }
    
    .main-img {
        width: 100%;
        max-height: none;   
}
    .flex {
        padding: 0 30px;
    }
    
    .text {
        height: 100px; 
        font-size: 16px;
    }
    
    
    .skills-text {
        text-align: left; 
        font-size: 34px;
        height: 140px;
    }
    
    .contact {
        padding: 20px 15px 0;
        height: 320px;
        margin-bottom: 0;
    }
    
    
    .contact-text {
        height: 60px;
        font-size: 24px;
        margin: 0 50px;
    }
    
    .link-2 {
        display: flex; 
    }
    
    .link-2 li {
        padding-left: 20px;
    }
    
    nav.link-2 {
        float: right;
        margin: 0;
        padding-bottom: 0;
    }
    
    .link-1 {
        display: none;
    }
    
    footer ul {
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1024px) {
    
    header {
        margin-top: auto;
        clear: both;
        height: 250px;
    }
    
    header .text {
        font-size: 24px;
        height: 120px;
    }
    
    .skills-text {
        height: 130px;
    }
    
    .text.skills-text {
        padding-left: 0;
    }
    
    h1 {
        float: left ; 
        padding: 50px 0 30px 60px;
    }
    
    nav {
        float: right;
        margin: 80px 60px 0 0;
    }
    
    
    nav ul li {
        padding-left: 30px;
    }
    
    .flex {
        padding: 0 22px;
    }
    
    main {
        margin: 0 30px;
    }
    
    .text {
        padding-left: 30px;
    }
    
    .profile-img {
        padding-right: 30px;
        max-width: 300px;
    }
    
    .skills {
        max-height: 400px;
        margin-top: 0;
    }
    
    .card {
        max-width: 33.333%;
        max-height: 400px;
        padding: 7px;        
    }
    
    .text-flex {
        font-size: 16px;
        padding: 0;
        margin: 0;
        height: 120px;
    }
    
    .contact-text {
        margin: 0 200px;
        padding-left: 0;
    }
    
    hr {
        margin: 20px 60px;
    }
    
    footer.flex{
        height: 40px;
        padding: 0 60px;
    }
    
    h4.name {
        margin-bottom: 20px;
    }
    
    nav.link-2 {
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    
    nav.link-2 ul {
        padding-bottom: 0;
    }
    
    footer.flex {
        height: 60px; 
    } 
}

