* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    color: darkgrey;
    text-align: center;
    margin: auto;
    padding: 0;
    background: #fafafa;
}

/****************************
NAVIGATION
****************************/

.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}


.nav li {
    background: white;
    padding: 20px 0;
    margin: 5px 20px;
}

ul li {
    
}

.nav a {
    transition: all .5s;
}

a {
    text-decoration: none;
    color: darkgrey;
}

/****************************
HEADER STYLES
****************************/

header {
    background: #fafafa;
}

.header-text {
    font-size: 26px;
}

.profile-img {
    width: 70%;
}


/****************************
MAIN CONTEXT
****************************/

main {
    background: white;
}


h3 {
    text-align: center;
}

h4 {
    padding: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
}

.card {

}

.main-img {
    width: 90%;
    max-height: none;   
}




/****************************
MEDIA QUERIES
****************************/



